<style>
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#ffffff;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(0, 0, 0);  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: #08ffd1;
}
.mt-4{
  color: #08ffd1;
}  
</style>

      <h2>Login</h2><br>
       
      <div class="login"> 
        <% include ./partials/messages %>      
      <form id="login" method="POST" action="/users/login">    
          <label><b>User Name     
          </b>    
          </label>    
          <input type="text" name="email" id="Uname" placeholder="Email">    
          <br><br>    
          <label><b>Password     
          </b>    
          </label>    
          <input type="Password" name="password" id="Pass" placeholder="Password">    
          <br><br>    
          <input type="submit" name="log" id="log" value="Log In Here">       
          <br><br>    
          
          <br><br>    
          <p class="lead mt-4">
            No Account? <a href="/users/register">Register</a>
          </p>    
      </form>     
  </div>  